$navHeight: 40px;
body {
  margin: 0;
  padding: 0;
  padding-top: $navHeight;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  display: block;
  background-color: #fff;
  width: 70%;
  margin: 3px auto;
  border: 3px solid darkblue;
  padding: 10px;
  border-radius: 15px;
}
.header {
  border: 0;
}

$lrspace: 5%;
nav {
  color: #fff;
  position: fixed;
  height: $navHeight;
  left: $lrspace;
  right: $lrspace;
  top: 0;
  background-color: darkblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  button {
    border-color: rgb(121, 121, 121);
    border-radius: 5px;
    &:hover {
      background-color: rgb(219, 219, 219);
    }
  }
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donut {
  $vmargin: 30px;
  margin: auto;
  margin-top: $vmargin;
  margin-bottom: $vmargin;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
}

.suggestions {
  position: fixed;
  width: 30%;
  height: 200px;
  right: 0;
  bottom: 0;
  overflow: auto;
  border: 3px solid darkblue;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 15px;
  padding: 10px;
}
